@model MyReserve.Models.HelpersTablasBBDD.InfoPeluqueriaModel.InfoPeluqueriaModel

@{
    Layout = "_Layout";
    var usuNombre = ViewBag.usu_nombre;
    ViewData["Title"] = "Info Peluquerias";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InfoPeluquerias</title>
    @section Styles {
        <link rel="stylesheet" href="~/css/infousuarios/infopeluquerias.css" asp-append-version="true" />
    }
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12 mt-5">
                <h2 class="display-2 text-center">Bienvenido a <span>@Model.peluqueriaInfo.pelu_nombre</span></h2>
            </div>
        </div>
        <form asp-action="ReservarCita" method="post">
            <input type="hidden" name="pelu_id" id="pelu_id" value="@Model.peluqueriaInfo.pelu_id" />
            <div class="row">
                <div class="col-12">
                    <h3>Escoje a tu peluquero</h3>
                </div>
                <div class="col-12 mt-3 d-inline-flex justify-content-center flex-wrap" id="peluqueros">
                    @foreach(var peluquero in Model.peluquerosInfo) {
                        <div class="d-inline-flex flex-wrap mb-2">
                            <div class="d-inline-flex flex-wrap mb-2">
                                <div class="form-check">
                                    <input type="radio" class="btn-check" autocomplete="off" name="peluquerosPeluqueria"
                                           value="@peluquero.pel_id" id="btn-check-@peluquero.pel_id" />
                                    <label class="btn" for="btn-check-@peluquero.pel_id">@peluquero.pel_nombre</label>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h2>Horarios</h2>
                </div>
                <div class="col-12 d-flex justify-content-center">
                    <input type="date" id="fechaCita" name="fechaCita" />
                </div>
                <div class="col-12 mt-3 d-inline-flex justify-content-center flex-wrap" id="horarios">
                    <div id="horariosDisponibles">
                        @foreach(var peluquerias in Model.peluqueriaInfo.Horarios.Where(hora => hora.hora_asociado == 1)) {
                            <div class="d-inline-flex flex-wrap mb-2">
                                <div class="d-inline-flex flex-wrap mb-2">
                                    <div class="form-check">
                                        <input type="radio" class="btn-check" autocomplete="off" name="horariosPeluqueria"
                                               value="@peluquerias.hora_id" id="btn-check-horarios-@peluquerias.hora_id" />
                                        <label class="btn" for="btn-check-horarios-@peluquerias.hora_id">@peluquerias.hora_fecha</label>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-12">
                    <h2>Servicios</h2>
                </div>
                @if(Model != null) {
                    var serviciosCategoria = Model.peluqueriaInfo.Servicios.GroupBy(ser_cat => ser_cat.cat_nombre);
                    @foreach(var pelu_cat in serviciosCategoria) {
                        <div class="col-12 mt-2 mb-2">
                            <h3>@pelu_cat.Key</h3>
                        </div>
                        <div class="d-inline-flex flex-wrap mb-2" id="servicios">
                            <div class="d-inline-flex flex-wrap mb-2">
                                @foreach(var servicio in pelu_cat) {
                                    <div class="form-check">
                                        <input type="checkbox" class="btn-check" autocomplete="off" name="serviciosPeluqueria"
                                               value="@servicio.ser_id" id="btn-check-servicio-@servicio.ser_id" />
                                        <label class="btn mt-2" for="btn-check-servicio-@servicio.ser_id">@servicio.ser_nombre - @servicio.ser_precio€</label>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="col-12">
                <input type="submit" value="Haz tu Cita!"/>
            </div>
        </form>
        <div class="footer mt-5">
            <div class="row">
                <div class="col-12 d-inline-flex flex-wrap justify-content-between">
                    <p><a href="mailto:@Model.peluqueriaInfo.pelu_correo_electronico">@Model.peluqueriaInfo.pelu_correo_electronico</a></p>
                    <p>@Model.peluqueriaInfo.pelu_direccion</p>
                    <p>@Model.peluqueriaInfo.pelu_telefono</p>
                </div>
            </div>
        </div>
    </div>
    @section Scripts {
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/js/infousuarios/infoPeluquerias.js"></script>
    }
</body>
</html>
