@model MyReserve.Models.HelpersTablasBBDD.InfoPeluqueriaModel.InfoPeluqueriaModel

@{
    Layout = "_Layout";
    var usuNombre = ViewBag.usu_nombre;
    var url = Url.Action("VerPeluqueros", "Peluquerias", new { pelu_id = Model.peluqueriaInfo.pelu_id }); // La utilizamos para poder usar iconos en el boton.
    ViewData["Title"] = "Info Peluquerias";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InfoPeluquerias</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    @section Styles {
        <link rel="stylesheet" href="~/css/infousuarios/infopeluquerias.css" asp-append-version="true" />
    }
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12 mt-5">
                <h2 class="display-2 text-center">Bienvenido a <span>@Model.peluqueriaInfo.pelu_nombre</span></h2>
            </div>
        </div>
        <form asp-action="ReservarCita" method="post" id="reservarCita">
            <input type="hidden" name="pelu_id" id="pelu_id" value="@Model.peluqueriaInfo.pelu_id" />
            <div class="row">
                <div class="col-12">
                    <h3>Escoje a tu peluquero</h3>
                </div>
                <div class="col-12 mt-3 d-inline-flex justify-content-center flex-wrap" id="peluqueros">
                    @if(Model.peluquerosInfo != null && Model.peluquerosInfo.Any()) {
                        @foreach(var peluquero in Model.peluquerosInfo) {
                            <div class="d-inline-flex flex-wrap mb-2">
                                <div class="d-inline-flex flex-wrap mb-2">
                                    <div class="form-check">
                                        <input type="radio" class="btn-check" autocomplete="off" name="peluquerosPeluqueria"
                                               value="@peluquero.pel_id" id="btn-check-@peluquero.pel_id" />
                                        <label class="btn" for="btn-check-@peluquero.pel_id">@peluquero.pel_nombre</label>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="text-danger"></div>
                        <button type="button" class="rounded-circle btn btn-outline-info ms-3"
                                data-bs-toggle="tooltip" data-bs-title="Ver más" style="width: 40px; height: 40px;"
                                onclick="window.location.href='@url'">
                            <i class="fa-solid fa-arrow-right"></i>
                        </button>
                    } else {
                        <p>No hay peluqueros disponibles</p>
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h2>Horarios</h2>
                </div>
                @{
                    var horariosAsociados = Model.peluqueriaInfo?.Horarios.Where(hora => hora.hora_asociado == 1);
                    bool horariosAsociadosComprobar = horariosAsociados != null && horariosAsociados.Any();
                }
                <div class="col-12 d-flex justify-content-center">
                    <input type="date" id="fechaCita" name="fechaCita" />
                    <div class="text-danger"></div>
                </div>
                <div class="col-12 mt-3 d-inline-flex justify-content-center flex-wrap" id="horarios">
                    @if(horariosAsociadosComprobar) {
                        <div id="horariosDisponibles">
                            @foreach(var peluquerias in horariosAsociados) {
                                <div class="d-inline-flex flex-wrap mb-2">
                                    <div class="d-inline-flex flex-wrap mb-2">
                                        <div class="form-check">
                                            <input type="radio" class="btn-check" autocomplete="off" name="horariosPeluqueria"
                                                   value="@peluquerias.hora_id" id="btn-check-horarios-@peluquerias.hora_id" />
                                            <label class="btn" for="btn-check-horarios-@peluquerias.hora_id">@peluquerias.hora_fecha</label>
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="text-danger"></div>
                        </div>
                    } else {
                        <p class="text-center">No hay horarios disponibles</p>
                    }
                </div>
                <div class="col-12">
                    <h2>Servicios</h2>
                </div>
                @{
                    var serviciosAsociados = Model.peluqueriaInfo?.Servicios.Where(ser => ser.ser_asociado == 1);
                    bool serviciosAsociadosComprobar = serviciosAsociados != null && serviciosAsociados.Any();
                }
                @if(serviciosAsociadosComprobar) {
                    var serviciosCategoria = serviciosAsociados.GroupBy(ser_cat => ser_cat.cat_nombre);
                    @foreach(var pelu_cat in serviciosCategoria) {
                        <div class="col-12 mt-2 mb-2">
                            <h3>@pelu_cat.Key</h3>
                        </div>
                        <div class="d-inline-flex flex-wrap mb-2" id="servicios">
                            <div class="d-inline-flex flex-wrap mb-2">
                                @foreach(var servicio in pelu_cat) {
                                    <div class="form-check">
                                        <input type="checkbox" class="btn-check" autocomplete="off" name="serviciosPeluqueria"
                                               value="@servicio.ser_id" id="btn-check-servicio-@servicio.ser_id" />
                                        <label class="btn mt-2" for="btn-check-servicio-@servicio.ser_id">@servicio.ser_nombre - @servicio.ser_precio€</label>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                    <div class="text-danger"></div>
                } else {
                    <p class="text-center">No hay servicios disponibles</p>
                }
            </div>
            <div class="col-12 text-center">
                <input type="submit" value="Haz tu Cita!" class="btn btn-outline-info text-center rounded-pill"/>
            </div>
        </form>
        <div class="footer mt-5">
            <div class="row">
                <div class="col-12 d-inline-flex flex-wrap justify-content-between">
                    <p><i class="fa-solid fa-envelope me-1"></i><a href="mailto:@Model.peluqueriaInfo.pelu_correo_electronico">@Model.peluqueriaInfo.pelu_correo_electronico</a></p>
                    <p><i class="fa-solid fa-location-dot me-1"></i>@Model.peluqueriaInfo.pelu_direccion</p>
                    <p><i class="fa-solid fa-phone me-1"></i>@Model.peluqueriaInfo.pelu_telefono</p>
                </div>
            </div>
        </div>
    </div>
    @section Scripts {
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/js/infousuarios/infoPeluquerias.js"></script>
    }
</body>
</html>
