@model MyReserve.Models.TablasBBDD.Peluqueria.Peluqueria

@{
    Layout = "_Layout";
    ViewData["Title"] = "Portal";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    @section Styles {
        <link rel="stylesheet" href="~/css/grupo/portal.css" asp-append-version="true" />
    }
    <title>Portal</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center display-1 mt-5">My Reserve</h1>
            </div>
            <div class="col-12 mt-5">
                <p class="text-center opacity-50">Bienvenido a tu <span class="text-info">portal</span> para gestionar tus empleados</p>
            </div>
            <div class="col-12 d-inline-flex justify-content-evenly flex-wrap text-center opacity-75 mt-5">
                <p class="me-3">@Model.pelu_nombre</p> <p class="me-3">@Model.pelu_region</p> <p class="me-3">@Model.pelu_pais</p> 
                <p class="me-3">@Model.pelu_telefono</p> <p class="me-3">@Model.grupoPeluqueria.gp_nombre</p>
            </div>
            <div class="col-12 mt-5">
                <div class="row peluquerias d-flex justify-content-center flex-wrap">
                    @foreach(var item in Model.peluqueros) {
                        <div class="col-lg-2 rounded bg-info bg-opacity-50 p-2 me-5">
                            <h3 class="text-white">@Html.DisplayFor(modelItem => item.pel_nombre) <i class="fa-solid fa-arrow-right"></i></h3>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center flex-wrap">
            <div class="col-auto p-0 mt-5 d-flex justify-content-center flex-wrap">
                <a asp-action="RegistroPeluqueros" asp-controller="Formularios" class="btn btn-outline-info rounded-pill me-2 mt-2"><i class="fa-solid fa-circle-plus"></i> ¡Añade un nuevo empleado al plantel!</a>
                @if(Model.Servicios == null || !Model.Servicios.Any() || Model.Servicios.All(ser => ser.ser_asociado == 0)) {
                    <a asp-action="RegistroServicios" asp-controller="Formularios" class="btn btn-outline-info rounded-pill me-2 mt-2"><i class="fa-solid fa-circle-plus"></i>¡Añade tus servicios!</a>
                } else {
                    <a asp-action="EditarServicios" asp-controller="Formularios" class="btn btn-outline-info rounded-pill me-2 mt-2"><i class="fa-regular fa-hand-scissors"></i>¡Edita tus servicios!</a>
                }
                @if(Model.Horarios == null || !Model.Horarios.Any()) {
                    <a asp-action="RegistroHorarios" asp-controller="Formularios" class="btn btn-outline-info rounded-pill me-2 mt-2"><i class="fa-regular fa-clock"></i> ¡Pon tus horarios!</a>
                } else {
                    <a asp-action="EditarHorarios" asp-controller="Formularios" class="btn btn-outline-info rounded-pill me-2 mt-2"><i class="fa-regular fa-clock"></i> ¡Edita tus horarios!</a>
                }
            </div>
        </div>
    </div>
</body>
</html>
