@model MyReserve.Models.TablasBBDD.Peluqueria.Peluqueria

@{
    Layout = "_Layout";
    var peluNombre = ViewBag.peluNombre;
    ViewData["Title"] = "Editar Horarios";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    @section Styles {
        <link rel="stylesheet" href="~/css/formulario/editarservicios.css" asp-append-version="true" />
    }
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12 mt-5">
                <h2 class="display-2 text-center">Edita los servicios para <span>@peluNombre</span></h2>
            </div>
        </div>
        <div class="row">
            <h3>Horarios Actuales</h3>
            <form asp-action="ActualizarHorarios" method="post">
                <div class="col-12 mt-2 mb-2">
                    @foreach(var hora in Model.Horarios.Where(hora => hora.hora_asociado == 1)) {
                        <div class="d-inline-flex flex-wrap mb-2">
                            <div class="d-inline-flex flex-wrap mb-2">
                                <div class="form-check">
                                    <input type="checkbox" class="btn-check" autocomplete="off" name="horariosActuales"
                                           value="@hora.hora_id" checked id="btn-check-@hora.hora_id" />
                                    <label class="btn" for="btn-check-@hora.hora_id">@hora.hora_fecha</label>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <h3>Horarios Disponibles</h3>
                <div>
                    @foreach(var hora in Model.Horarios.Where(hora => hora.hora_asociado == 0)) {
                        <div class="d-inline-flex flex-wrap mb-2">
                            <div class="d-inline-flex flex-wrap mb-2">
                                <div class="form-check">
                                    <input type="checkbox" class="btn-check" autocomplete="off" name="horariosActuales"
                                           value="@hora.hora_id" id="btn-check-@hora.hora_id" />
                                    <label class="btn" for="btn-check-@hora.hora_id">@hora.hora_fecha</label>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-12 d-flex justify-content-center">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                </div>
            </form>
            <div class="col-auto p-0 mt-5 d-flex justify-content-between flex-wrap">
                <a asp-action="Portal" asp-controller="Peluquerias" class="btn btn-outline-info rounded-pill"><i class="fa-solid fa-arrow-left"></i> Volver</a>
            </div>
        </div>
    </div>
</body>
</html>
